<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include navbar %>
        <!-- header -->
    <header class="mb-4 header">
      
        <img src="../public/images/carousel-1.jpg" alt="" class="w-100">
           
    </header>
          <!-- header end -->
    <section class="py-3">
      <div class="container">
        <h2 class="text-center mb-2">產品列表</h2>
        <div class="row">
          <% productList.forEach(product => {  %>
                <div class="col-md-4">
                  <div class="card mb-3">
                <img class="card-img-top" src="<%= product.image %>" alt="">
                <div class="card-body">
                  <h4 class="card-title"><%= product.name %></h4>
                  <h4>
                    <span class="badge badge-info">
                      <%= product.category %>
                    </span>
                  </h4>
                  <p class="card-text"> $ <%= product.price %> NTD</p>
              
                  <% if(auth.isAdmin) { %> 
                    <a href="/produc/edit/<%= product.id %>" class="btn btn-warning">編輯</a>
                    <button class="delete-btn btn btn-danger" data-id="<%=product.id%>" type="button" class="btn btn-danger"><i class="fas fa-trash"></i>
                    刪除商品
                    </button>
                  <% } %>
                </div>
              </div>
            </div>
          <% }) %>;
        </div>
      </div>
    </section>
    <% include scripts %>



  </body>
</html>